<a href="https://colab.research.google.com/github/Jdjarrett3KSU/IMSE_541_Labs/blob/main/IMSE_541_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
import pandas as pd
import statistics
import numpy as np

In [11]:
data1 = pd.read_csv("/content/drive/MyDrive/Colab/ch03 (1).csv")
data1.head(8)

   Ex3-1   Ex3-2  Ex3-3  Ex3-5  Ex3-6  Ex3-7  Ex3-8   Ex3-14  Ex3-15
0  16.05  50.001  953.0   96.0  127.0   94.1   13.3   8078.0    0.78
1  16.03  50.002  955.0  102.0  125.0   93.2   14.5   1891.0    9.59
2  16.02  49.998  948.0  104.0  131.0   90.6   15.3  13912.0    2.26
3  16.04  50.006  951.0  108.0  124.0   91.4   15.3   3407.0    8.13
4  16.05  50.005  957.0  126.0  129.0   88.2   14.3   6168.0    3.16
5  16.01  49.996  949.0  128.0  121.0   86.1   14.8  15504.0    4.33
6  16.02  50.003  954.0  150.0  142.0   95.1   15.2   1893.0   11.70
7  16.02  50.004  950.0  156.0  151.0   90.0   14.5  12551.0    0.22

In [13]:
x1=data1["Ex3-2"]
x1.head(8)

0    50.001
1    50.002
2    49.998
3    50.006
4    50.005
5    49.996
6    50.003
7    50.004
Name: Ex3-2, dtype: float64

In [17]:
np.mean(x1)

50.001875

In [18]:
np.std(x1)

0.0032185982973960553